<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.knightx.simplifynftplatform.po.mapper.HoldCollectionMapper">

    <resultMap id="BaseResultMap" type="io.knightx.simplifynftplatform.po.HoldCollection">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="collectionId" column="collection_id" jdbcType="BIGINT"/>
            <result property="applyRecordId" column="apply_collection_id" jdbcType="BIGINT"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
            <result property="hideFlag" column="hide_flag" jdbcType="INTEGER"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
            <result property="deleteTime" column="delete_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,member_id,collection_id,
        apply_collection_id,create_at,hide_flag,
        delete_flag,delete_time
    </sql>
</mapper>
